{{question.author}} asked {{question.content}}.
they also added {{question.notes}}
<button {{action 'delete' question}}>delete</button>


<hr>


<ul>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>
