{{question.author}} asked {{question.content}}.
they also added {{question.notes}}
<button {{action 'delete' question}}>delete</button>



<hr>

<p>This is what other users had to say:</p>
<ul>
  {{#each sortedAnswers as |answer|}}
    <hr>
    {{answer-tile answer=answer}}
  {{/each}}
</ul>
