<li>
  {{question.author}} asked: {{question.content}}.
  {{#if areNotesShowing}}
    <p>They also had this to add: {{question.notes}}</p>
    <button {{action 'hideNotes'}}>Hide notes</button>
  {{else}}
    <button {{action 'showNotes'}}>Show notes</button>
  {{/if}}
  {{update-question question=question update="update"}}
  <button {{action 'delete' question}}>Delete</button>
</li>
