{{question.author}} asked {{question.content}}.
they also added {{question.notes}}
<button {{action 'delete' question}}>delete</button>


<hr>

<p>Theis is what other users had to say:</p>
<ul>
  {{#each question.answers as |answer|}}
    <hr>
    {{answer-tile answer=answer}}
    <button>like</button> <button>dislike</button>
  {{/each}}
</ul>
